body {
    background-color: #490000;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: darkgoldenrod;
}

.friend {
    background-color: wheat;
    padding: 2em;
}

h3 {
    text-transform: uppercase;
}